[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
CloudFlare = "*"
validators = "*"
toml = "*"
PyDomainExtractor = "*"
loguru = "*"
click = "*"

[dev-packages]
pre-commit = "*"
autopep8 = "*"
"pylama[all]" = "*"

[requires]
python_version = "3"
