[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
CloudFlare = "*"
validators = "*"
toml = "*"
PyDomainExtractor = "*"
loguru = "*"
click = "*"

[dev-packages]
pre-commit = "*"
autopep8 = "*"
"pylama[all]" = "*"
coverage = "*"
sphinx = "5.1.1"
sphinxcontrib-osexample = "*"
sphinx-rtd-theme = ">0.3.0"

[requires]
python_version = "3"
